target/
.project
.classpath
.cache
.target/
*~
.#*
.*.swp
.DS_Store
.codefellow
.ensime*
.eprj
.history
.idea
.idea_modules
.gradle
.settings
bin
build
out
*.iml
*.ipr
*.iws
test-output
test-results
test-tmp
*.class
gradle.properties
*.orig
