language: java
script:
  - ./gradlew check
cache:
  directories:
  - $HOME/.gradle
jdk:
  - oraclejdk8
  - openjdk6
env:
  global:
  - TERM=dumb
  - DEFAULT_TIMEOUT_MILLIS=300
  - PUBLISHER_REFERENCE_GC_TIMEOUT_MILLIS=300
